body {
    /* png from https://www.toptal.com/designers/subtlepatterns/ */
    background-image: url(embossed-diamond.png);
    font-family: 'Indie Flower', cursive;
}

.jumbotron {
    background-color: #d1e6e3;
}